<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>metadata</key>
				<dict>
					<key>bundle-version</key>
                    <!-- change version bellow to the version you are providing -->
					<string>0.0</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
                    <!-- change title to match your app name -->
					<string>Anvil Engine</string>
				</dict>
            </dict>
		</array>
	</dict>
</plist>