[submodule "core/src/include/--force"]
	path = core/src/include/--force
	url = https://github.com/seawardspy1531/entt
[submodule "core/src/include/entt"]
	path = core/src/include/entt
	url = https://github.com/seawardspy1531/entt
[submodule "core/src/include/imgui"]
	path = core/src/include/imgui
	url = https://github.com/seawardspy1531/imgui.git
	branch = docking
[submodule "core/src/include/stb"]
	path = core/src/include/stb
	url = https://github.com/seawardspy1531/stb
[submodule "core/src/include/glfw"]
	path = core/src/include/glfw
	url = https://github.com/seawardspy1531/glfw
[submodule "Anvil/core/src/include/glm"]
	path = Anvil/core/src/include/glm
	url = https://github.com/g-truc/glm.git
