/.DS_Store
/.vscode
/Notes
/builds
core/extras/Notes

/build
*.sln
*.user
*.filters
*.vcxproj
/.vs/Anvil-2D
/AppleBundle
/Anvil/build
/Anvil/include/glfw/bin/Debug-windows-x86_64/GLFW
/Anvil/include/glfw/bin-int/Debug-windows-x86_64/GLFW
/.vs/AnvilEngine
