/.DS_Store
/.vscode
/Notes
/builds
core/extras/Notes

/build
*.sln
*.user
*.filters
*.vcxproj
/.vs/Anvil-2D
/Anvil/build
/Anvil/core/extras/Notes.txt
/Anvil/include/glfw/bin/Debug-windows-x86_64/GLFW
/Anvil/include/glfw/bin-int/Debug-windows-x86_64/GLFW
/.vs/AnvilEngine
/Anvil/include/glfw/bin/Debug-windows-x64/GLFW
/Anvil/include/glfw/bin-int/Debug-windows-x64/GLFW/GLFW.tlog
/Anvil/include/glfw/bin-int/Debug-windows-x64/GLFW
/bin/Debug-windows-x86_64
/bin-int/Debug-windows-x86_64
/bin/Release-windows-x86_64
/bin-int/Release-windows-x86_64
*.spv
*.exe
/packages/Microsoft.Windows.CppWinRT.2.0.220531.1
/Anvil/html
/Anvil/man/man3
/Setup/Wizard/Setup_Wizard.egg-info/dependency_links.txt
/Setup/Wizard/Setup_Wizard.egg-info/top_level.txt
/Setup/Wizard/Setup_Wizard.egg-info/SOURCES.txt
/Setup/Wizard/Setup_Wizard.egg-info/requires.txt
/Setup/Wizard/__pycache__/wizback.cpython-312.pyc
/Setup/Wizard/__pycache__/licence.cpython-312.pyc
/Setup/Wizard/__pycache__/console.cpython-312.pyc
/Setup/Wizard/Setup_Wizard.egg-info/dependency_links.txt
/Setup/Wizard/Setup_Wizard.egg-info/requires.txt
/Setup/Wizard/Setup_Wizard.egg-info/SOURCES.txt
/Setup/Wizard/Setup_Wizard.egg-info/top_level.txt
/.vs
